*{margin: 5; padding: 0;}

body{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	background-color: rgb(0, 183, 255);
	
}

.capa {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	text-align: center;
	background-color: #000000;
	border: 5px solid #dbdbdb;
	}

.menu{
	font-size: 20px;
	list-style:none;
	border:1px solid #c0c0c0;
	float:right;
}

.menu li{
	position:relative;
	float:left;
	border-right:1px solid #c0c0c0;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.conteudo{
	text-align: left;
	width: 90%;
	height: 100%;
	margin: 3%; 
	padding: 1%;
	border: 2px solid;
	border-color: rgb(0, 0, 0);
}

.rodape{
	text-align: center;
}